body {
    background-color: #F5EBEB;
    
}
hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #D5B4B4;
    border-width: 5px;
    width: 8%;
}
h1 {
    color: #867070;
    font-family: cursive;
    font-style: italic;
}
h3 {
    color: #867070;
    font-family: cursive;
}